<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
default-lazy-init="true">

<!--    <context:annotation-config/>-->
    <context:component-scan base-package="kz.spring.aop.*"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

<!--    <aop:config>-->
<!--        <aop:aspect id="log" ref="myLogger">-->
<!--            <aop:pointcut id="allMethods" expression="execution(public * *(..))"/>-->
<!--            <aop:around method="watchTime" pointcut-ref="allMethods"/>-->
<!--            <aop:after-returning method="printInfo" pointcut-ref="allMethods" returning="obj"/>-->

<!--&lt;!&ndash;            <aop:pointcut id="getValue" expression="execution(* kz.spring.aop.objects.SomeService.*(..))"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <aop:before pointcut-ref="getValue" method="init"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <aop:after pointcut-ref="getValue" method="close"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <aop:after-throwing pointcut-ref="getValue" method="error"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <aop:after-returning pointcut-ref="getValue" returning="obj" method="printValue"/>&ndash;&gt;-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

</beans>